* {
  margin: 0;
  box-sizing: 0;
  padding: 0;
}

/* APP STYLE */
.app-container {
}

/* HEADER STYLE */
.bb-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.bb-header .header-logo {
  max-width: 60px;
  max-height: 60px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-menu div {
  padding: 20px;
}

.menu-button {
  padding: 15px;
  font-size: 15px;
  border: none;
  color: indianred;
  background-color: white;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-button {
  background-color: white;
  color: indianred;
  padding: 15px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: indianred;
  border-top: 1px solid rgb(216, 216, 216);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(216, 216, 216);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content {
  background-color: white;
}

.slideshow-div {
  margin-top: 10px;
  text-align: center;
}

.slideshow-div .header-logo {
  padding-top: 5px;
  width: 500px;
}

.bb-header-column {
}

.bb-slideshow-row {
}
.bb-slideshow-column {
}

.each-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.each-slide div {
  width: 520px;
  background-color: antiquewhite;
  border-radius: 0 0 5% 5%;
}

.bb-prodotto-evidenza-row {
}

.bb-punti-cardine-images-row {
  padding-bottom: 30px;
  text-align: center;
}

.bb-punti-cardine-images-column .gallery-features {
  width: 100%;
  height: 100%;
}
